In [1]:
import polars as pl

In [2]:
raw_bbo_data = pl.read_parquet("data/raw_full_bbo_data.parquet")
raw_bbo_data

shape: (127_927_147, 7)
┌─────────────────────────┬──────────────┬───────────┬────────────┬───────────┬────────────┬───────┐
│ index                   ┆ xltime       ┆ bid-price ┆ bid-volume ┆ ask-price ┆ ask-volume ┆ Stock │
│ ---                     ┆ ---          ┆ ---       ┆ ---        ┆ ---       ┆ ---        ┆ ---   │
│ datetime[μs,            ┆ f64          ┆ f64       ┆ i64        ┆ f64       ┆ i64        ┆ str   │
│ America/New_York]       ┆              ┆           ┆            ┆           ┆            ┆       │
╞═════════════════════════╪══════════════╪═══════════╪════════════╪═══════════╪════════════╪═══════╡
│ 2008-01-02 09:30:04.132 ┆ 39449.604214 ┆ 29.68     ┆ 1          ┆ 29.69     ┆ 373        ┆ C.N   │
│ EST                     ┆              ┆           ┆            ┆           ┆            ┆       │
│ 2008-01-02 09:30:04.334 ┆ 39449.604217 ┆ 29.68     ┆ 1          ┆ 29.69     ┆ 372        ┆ C.N   │
│ EST                     ┆              ┆           ┆            ┆           ┆            ┆       │
│ 2008-01-02 09:30:04.423 ┆ 39449.604218 ┆ 29.67     ┆ 1          ┆ 29.69     ┆ 361        ┆ C.N   │
│ EST                     ┆              ┆           ┆            ┆           ┆            ┆       │
│ 2008-01-02 09:30:04.576 ┆ 39449.60422  ┆ 29.67     ┆ 1          ┆ 29.69     ┆ 356        ┆ C.N   │
│ EST                     ┆              ┆           ┆            ┆           ┆            ┆       │
│ 2008-01-02 09:30:04.825 ┆ 39449.604223 ┆ 29.67     ┆ 1          ┆ 29.69     ┆ 353        ┆ C.N   │
│ EST                     ┆              ┆           ┆            ┆           ┆            ┆       │
│ …                       ┆ …            ┆ …         ┆ …          ┆ …         ┆ …          ┆ …     │
│ 2008-12-31 16:00:00.069 ┆ 39813.875001 ┆ 29.76     ┆ 237        ┆ 29.81     ┆ 2          ┆ WFC.N │
│ EST                     ┆              ┆           ┆            ┆           ┆            ┆       │
│ 2008-12-31 16:00:00.093 ┆ 39813.875001 ┆ 29.76     ┆ 237        ┆ 29.84     ┆ 55         ┆ WFC.N │
│ EST                     ┆              ┆           ┆            ┆           ┆            ┆       │
│ 2008-12-31 16:00:00.192 ┆ 39813.875002 ┆ 29.81     ┆ 3          ┆ 29.84     ┆ 13         ┆ WFC.N │
│ EST                     ┆              ┆           ┆            ┆           ┆            ┆       │
│ 2008-12-31 16:00:00.374 ┆ 39813.875004 ┆ 29.76     ┆ 237        ┆ 29.84     ┆ 13         ┆ WFC.N │
│ EST                     ┆              ┆           ┆            ┆           ┆            ┆       │
│ 2008-12-31 16:00:00.572 ┆ 39813.875007 ┆ 29.76     ┆ 237        ┆ 29.78     ┆ 1          ┆ WFC.N │
│ EST                     ┆              ┆           ┆            ┆           ┆            ┆       │
└─────────────────────────┴──────────────┴───────────┴────────────┴───────────┴────────────┴───────┘

In [3]:
# To get data types of columns
dtypes_info = raw_bbo_data.dtypes
print(dtypes_info)

info_raw_bbo_data = pl.DataFrame({
    "column": raw_bbo_data.columns,
    "data_type": [str(dtype) for dtype in dtypes_info],
    "Total of Observation for each column": [raw_bbo_data.select(pl.col(column).count()).to_numpy()[0][0] for column in raw_bbo_data.columns]
})

print(info_raw_bbo_data)

[Datetime(time_unit='us', time_zone='America/New_York'), Float64, Float64, Int64, Float64, Int64, String]
shape: (7, 3)
┌────────────┬─────────────────────────────────┬─────────────────────────────────┐
│ column     ┆ data_type                       ┆ Total of Observation for each … │
│ ---        ┆ ---                             ┆ ---                             │
│ str        ┆ str                             ┆ u32                             │
╞════════════╪═════════════════════════════════╪═════════════════════════════════╡
│ index      ┆ Datetime(time_unit='us', time_… ┆ 127927147                       │
│ xltime     ┆ Float64                         ┆ 127927147                       │
│ bid-price  ┆ Float64                         ┆ 127927147                       │
│ bid-volume ┆ Int64                           ┆ 127927147                       │
│ ask-price  ┆ Float64                         ┆ 127927147                       │
│ ask-volume ┆ Int64                           ┆ 127927147                       │
│ Stock      ┆ String                          ┆ 127927147                       │
└────────────┴─────────────────────────────────┴─────────────────────────────────┘

In [4]:
# Checking for missing values in each column
for column in raw_bbo_data.columns:
    null_count = raw_bbo_data[column].is_null().sum()
    print(f"Column '{column}' has {null_count} missing values")

Column 'index' has 0 missing values
Column 'xltime' has 0 missing values
Column 'bid-price' has 0 missing values
Column 'bid-volume' has 0 missing values
Column 'ask-price' has 0 missing values
Column 'ask-volume' has 0 missing values
Column 'Stock' has 0 missing values

In [5]:
raw_bbo_data = raw_bbo_data.rename({
    "index": "timestamp",
    "bid-price": "bid",
    "ask-price": "ask",
    "bid-volume": "bid_volume",
    "ask-volume": "ask_volume"
})

In [6]:
dataraw_bbo_data_bbo = raw_bbo_data.with_columns(
    pl.col('timestamp').cast(pl.Datetime).alias('timestamp')  # Ensure the 'Time' column is cast to Datetime
)
raw_bbo_data = raw_bbo_data.with_columns([
    # pl.col("timestamp").dt.year().alias("Year"),
    # pl.col("timestamp").dt.month().alias("Month"),
    pl.col("timestamp").dt.day().alias("Day"),
    pl.col("timestamp").dt.hour().alias("Hour"),
    pl.col("timestamp").dt.minute().alias("Minute"),
    # pl.col("timestamp").dt.second().alias("Second"),
])

In [7]:
dataraw_bbo_data_bbo = raw_bbo_data.with_columns(
    pl.col('timestamp').cast(pl.Datetime).alias('timestamp')  # Ensure the 'Time' column is cast to Datetime
)

In [8]:
raw_bbo_data = raw_bbo_data.with_columns(
    raw_bbo_data['timestamp'].dt.strftime('%Y-%m-%d %H:%M').alias('time')
)

raw_bbo_data.head(5)

shape: (5, 11)
┌───────────────────────┬──────────────┬───────┬────────────┬───┬─────┬──────┬────────┬────────────┐
│ timestamp             ┆ xltime       ┆ bid   ┆ bid_volume ┆ … ┆ Day ┆ Hour ┆ Minute ┆ time       │
│ ---                   ┆ ---          ┆ ---   ┆ ---        ┆   ┆ --- ┆ ---  ┆ ---    ┆ ---        │
│ datetime[μs,          ┆ f64          ┆ f64   ┆ i64        ┆   ┆ i8  ┆ i8   ┆ i8     ┆ str        │
│ America/New_York]     ┆              ┆       ┆            ┆   ┆     ┆      ┆        ┆            │
╞═══════════════════════╪══════════════╪═══════╪════════════╪═══╪═════╪══════╪════════╪════════════╡
│ 2008-07-01            ┆ 39630.562508 ┆ 45.94 ┆ 5          ┆ … ┆ 1   ┆ 9    ┆ 30     ┆ 2008-07-01 │
│ 09:30:00.668999 EDT   ┆              ┆       ┆            ┆   ┆     ┆      ┆        ┆ 09:30      │
│ 2008-07-01            ┆ 39630.562509 ┆ 45.94 ┆ 5          ┆ … ┆ 1   ┆ 9    ┆ 30     ┆ 2008-07-01 │
│ 09:30:00.736 EDT      ┆              ┆       ┆            ┆   ┆     ┆      ┆        ┆ 09:30      │
│ 2008-07-01            ┆ 39630.56251  ┆ 46.0  ┆ 4          ┆ … ┆ 1   ┆ 9    ┆ 30     ┆ 2008-07-01 │
│ 09:30:00.872 EDT      ┆              ┆       ┆            ┆   ┆     ┆      ┆        ┆ 09:30      │
│ 2008-07-01            ┆ 39630.562511 ┆ 46.0  ┆ 4          ┆ … ┆ 1   ┆ 9    ┆ 30     ┆ 2008-07-01 │
│ 09:30:00.948 EDT      ┆              ┆       ┆            ┆   ┆     ┆      ┆        ┆ 09:30      │
│ 2008-07-01            ┆ 39630.562511 ┆ 46.0  ┆ 4          ┆ … ┆ 1   ┆ 9    ┆ 30     ┆ 2008-07-01 │
│ 09:30:00.959 EDT      ┆              ┆       ┆            ┆   ┆     ┆      ┆        ┆ 09:30      │
└───────────────────────┴──────────────┴───────┴────────────┴───┴─────┴──────┴────────┴────────────┘

In [9]:
raw_bbo_data = raw_bbo_data.with_columns(
        (pl.col('bid') * pl.col('bid_volume')).alias("bid_price_volume"),
        (pl.col('ask') * pl.col('ask_volume')).alias("ask_price_volume")
    )

raw_bbo_data.head()

shape: (5, 13)
┌────────────┬────────────┬───────┬────────────┬───┬────────┬────────────┬────────────┬────────────┐
│ timestamp  ┆ xltime     ┆ bid   ┆ bid_volume ┆ … ┆ Minute ┆ time       ┆ bid_price_ ┆ ask_price_ │
│ ---        ┆ ---        ┆ ---   ┆ ---        ┆   ┆ ---    ┆ ---        ┆ volume     ┆ volume     │
│ datetime[μ ┆ f64        ┆ f64   ┆ i64        ┆   ┆ i8     ┆ str        ┆ ---        ┆ ---        │
│ s, America ┆            ┆       ┆            ┆   ┆        ┆            ┆ f64        ┆ f64        │
│ /New_York] ┆            ┆       ┆            ┆   ┆        ┆            ┆            ┆            │
╞════════════╪════════════╪═══════╪════════════╪═══╪════════╪════════════╪════════════╪════════════╡
│ 2008-07-01 ┆ 39630.5625 ┆ 45.94 ┆ 5          ┆ … ┆ 30     ┆ 2008-07-01 ┆ 229.7      ┆ 46.25      │
│ 09:30:00.6 ┆ 08         ┆       ┆            ┆   ┆        ┆ 09:30      ┆            ┆            │
│ 68999 EDT  ┆            ┆       ┆            ┆   ┆        ┆            ┆            ┆            │
│ 2008-07-01 ┆ 39630.5625 ┆ 45.94 ┆ 5          ┆ … ┆ 30     ┆ 2008-07-01 ┆ 229.7      ┆ 92.1       │
│ 09:30:00.7 ┆ 09         ┆       ┆            ┆   ┆        ┆ 09:30      ┆            ┆            │
│ 36 EDT     ┆            ┆       ┆            ┆   ┆        ┆            ┆            ┆            │
│ 2008-07-01 ┆ 39630.5625 ┆ 46.0  ┆ 4          ┆ … ┆ 30     ┆ 2008-07-01 ┆ 184.0      ┆ 92.1       │
│ 09:30:00.8 ┆ 1          ┆       ┆            ┆   ┆        ┆ 09:30      ┆            ┆            │
│ 72 EDT     ┆            ┆       ┆            ┆   ┆        ┆            ┆            ┆            │
│ 2008-07-01 ┆ 39630.5625 ┆ 46.0  ┆ 4          ┆ … ┆ 30     ┆ 2008-07-01 ┆ 184.0      ┆ 184.52     │
│ 09:30:00.9 ┆ 11         ┆       ┆            ┆   ┆        ┆ 09:30      ┆            ┆            │
│ 48 EDT     ┆            ┆       ┆            ┆   ┆        ┆            ┆            ┆            │
│ 2008-07-01 ┆ 39630.5625 ┆ 46.0  ┆ 4          ┆ … ┆ 30     ┆ 2008-07-01 ┆ 184.0      ┆ 92.2       │
│ 09:30:00.9 ┆ 11         ┆       ┆            ┆   ┆        ┆ 09:30      ┆            ┆            │
│ 59 EDT     ┆            ┆       ┆            ┆   ┆        ┆            ┆            ┆            │
└────────────┴────────────┴───────┴────────────┴───┴────────┴────────────┴────────────┴────────────┘

In [10]:
aggregate_bbo_data = raw_bbo_data.group_by(["time", "Stock"]).agg([
    (pl.sum("bid_price_volume") / pl.sum("bid_volume")).alias("bid_vwa"),
    (pl.sum("ask_price_volume") / pl.sum("ask_volume")).alias("ask_vwa")
])

aggregate_bbo_data.head(5)

shape: (5, 4)
┌──────────────────┬───────┬───────────┬───────────┐
│ time             ┆ Stock ┆ bid_vwa   ┆ ask_vwa   │
│ ---              ┆ ---   ┆ ---       ┆ ---       │
│ str              ┆ str   ┆ f64       ┆ f64       │
╞══════════════════╪═══════╪═══════════╪═══════════╡
│ 2008-09-04 13:16 ┆ HON.N ┆ 48.200068 ┆ 48.220236 │
│ 2008-12-12 11:54 ┆ HON.N ┆ 27.613543 ┆ 27.653178 │
│ 2008-12-22 14:05 ┆ HON.N ┆ 31.806728 ┆ 31.835496 │
│ 2008-08-08 13:46 ┆ NOV.N ┆ 71.869904 ┆ 71.936477 │
│ 2008-12-18 13:01 ┆ TGT.N ┆ 36.40192  ┆ 36.435714 │
└──────────────────┴───────┴───────────┴───────────┘

In [11]:
aggregate_bbo_data = aggregate_bbo_data.with_columns(
        ((pl.col('bid_vwa') + pl.col('ask_vwa')) / 2).alias("vwap_mid_price")
    )

aggregate_bbo_data.head(5)

shape: (5, 5)
┌──────────────────┬───────┬───────────┬───────────┬────────────────┐
│ time             ┆ Stock ┆ bid_vwa   ┆ ask_vwa   ┆ vwap_mid_price │
│ ---              ┆ ---   ┆ ---       ┆ ---       ┆ ---            │
│ str              ┆ str   ┆ f64       ┆ f64       ┆ f64            │
╞══════════════════╪═══════╪═══════════╪═══════════╪════════════════╡
│ 2008-09-04 13:16 ┆ HON.N ┆ 48.200068 ┆ 48.220236 ┆ 48.210152      │
│ 2008-12-12 11:54 ┆ HON.N ┆ 27.613543 ┆ 27.653178 ┆ 27.633361      │
│ 2008-12-22 14:05 ┆ HON.N ┆ 31.806728 ┆ 31.835496 ┆ 31.821112      │
│ 2008-08-08 13:46 ┆ NOV.N ┆ 71.869904 ┆ 71.936477 ┆ 71.903191      │
│ 2008-12-18 13:01 ┆ TGT.N ┆ 36.40192  ┆ 36.435714 ┆ 36.418817      │
└──────────────────┴───────┴───────────┴───────────┴────────────────┘

In [12]:
aggregate_bbo_data.write_parquet("data/clean_small_bbo_data.parquet")

In [13]:
result = (
    aggregate_bbo_data
    .with_columns(
        (pl.col("time").str.slice(0, 10)).alias("month")  # Extract year and month as 'YYYY-MM'
    )
    .group_by(["Stock", "month"])  # Group by Stock and extracted month
    .agg(pl.count())  # Count rows in each group
    .sort(["Stock", "month"])  # Sort by Stock and month
)

/var/folders/cg/lm106ggx1z59db7x0_wgfghm0000gn/T/ipykernel_18757/2993530113.py:7: DeprecationWarning: `pl.count()` is deprecated. Please use `pl.len()` instead.
  .agg(pl.count())  # Count rows in each group

### Compare sizes

In [14]:
result

shape: (512, 3)
┌───────┬────────────┬───────┐
│ Stock ┆ month      ┆ count │
│ ---   ┆ ---        ┆ ---   │
│ str   ┆ str        ┆ u32   │
╞═══════╪════════════╪═══════╡
│ GE.N  ┆ 2008-07-01 ┆ 391   │
│ GE.N  ┆ 2008-07-02 ┆ 391   │
│ GE.N  ┆ 2008-07-03 ┆ 213   │
│ GE.N  ┆ 2008-07-07 ┆ 391   │
│ GE.N  ┆ 2008-07-08 ┆ 391   │
│ …     ┆ …          ┆ …     │
│ TGT.N ┆ 2008-12-24 ┆ 212   │
│ TGT.N ┆ 2008-12-26 ┆ 390   │
│ TGT.N ┆ 2008-12-29 ┆ 391   │
│ TGT.N ┆ 2008-12-30 ┆ 391   │
│ TGT.N ┆ 2008-12-31 ┆ 391   │
└───────┴────────────┴───────┘

In [15]:
result.write_parquet("data/results_small_aggregation.parquet")

In [16]:
aggregate_bbo_data

shape: (197_468, 5)
┌──────────────────┬───────┬───────────┬───────────┬────────────────┐
│ time             ┆ Stock ┆ bid_vwa   ┆ ask_vwa   ┆ vwap_mid_price │
│ ---              ┆ ---   ┆ ---       ┆ ---       ┆ ---            │
│ str              ┆ str   ┆ f64       ┆ f64       ┆ f64            │
╞══════════════════╪═══════╪═══════════╪═══════════╪════════════════╡
│ 2008-09-04 13:16 ┆ HON.N ┆ 48.200068 ┆ 48.220236 ┆ 48.210152      │
│ 2008-12-12 11:54 ┆ HON.N ┆ 27.613543 ┆ 27.653178 ┆ 27.633361      │
│ 2008-12-22 14:05 ┆ HON.N ┆ 31.806728 ┆ 31.835496 ┆ 31.821112      │
│ 2008-08-08 13:46 ┆ NOV.N ┆ 71.869904 ┆ 71.936477 ┆ 71.903191      │
│ 2008-12-18 13:01 ┆ TGT.N ┆ 36.40192  ┆ 36.435714 ┆ 36.418817      │
│ …                ┆ …     ┆ …         ┆ …         ┆ …              │
│ 2008-08-08 12:22 ┆ GE.N  ┆ 29.430693 ┆ 29.446435 ┆ 29.438564      │
│ 2008-12-23 12:55 ┆ HON.N ┆ 31.202105 ┆ 31.239639 ┆ 31.220872      │
│ 2008-11-26 15:48 ┆ TGT.N ┆ 35.196349 ┆ 35.244894 ┆ 35.220622      │
│ 2008-10-17 12:33 ┆ GE.N  ┆ 19.788399 ┆ 19.801688 ┆ 19.795043      │
│ 2008-12-23 10:09 ┆ GE.N  ┆ 16.271686 ┆ 16.290312 ┆ 16.280999      │
└──────────────────┴───────┴───────────┴───────────┴────────────────┘